body {
    background-color: orange;
    font-family: sans-serif;
}

h1, h3{
    text-align: center;
    color: rgb(63, 129, 109);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    background-color: rgba(187, 180, 80, 0.205);
}

.para .text {
    color: rgba(255, 255, 255, 0.938);
}

.text.emphasis {
    font-weight: 800;
}

ul, ol {
    list-style: circle;
}

li {
    font-style: italic;
    color: purple;
}